{% extends "layout.html" %}
{% block body %}
  <form action="" method=GET class="form-horizontal">
   <div class = "span6 offset3">
    <div class="panel panel-info">
    	<!-- Default panel contents -->
        <div class="panel-heading">{{monkey.name}} Friends</div>
	  <table class="table">
	      <tr>
	      {%- for friend in friends %}
              <tr>
               <td>{{ friend.monkey_name }}</td>
               <td> <span class="pull-right">
                       <a href="/unfriend/{{monkey.id}}/{{friend.monkey_id}}" data-original-title="Update monkey friends list" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
               </td>
      	      {%- endfor %}
	  </table>
       </div>
    </div>
  </form>
  <div class = "span6 offset3">
    <form id="bootstrapSelectForm" method="post" class="form-inline">
      <div class="form-group">
         <select name="AddFriend" class="form-control" id="AddFriend">
           {%- for other in others %}
              <option>{{other.name}}</option>
           {%- endfor %}
          </select>
       </div>
      <div class="form-group">
         <button type="submit" class="btn btn-primary" id="AddFriend">Add Friend</button>
      </div>
   </form>
  </div>
{% endblock %}
