{% extends "layout.html" %}
{% block body %}
  <form action="" method=GET class="form-horizontal">
   <div class = "span6 offset3">
    <div class="panel panel-info">
    	<!-- Default panel contents -->
        <div class="panel-heading">{{monkey.name}} Friends</div>
	  <table class="table">
	      <tr>
	      {%- for friend in friends %}
              <tr>
               <td>{{ friend.monkey_name }}</td>
      	      {%- endfor %}
	  </table>
         <div class="panel-footer">
          <div class="container-fluid panel-container">
           <span class="pull-right">
             <a href="/edit_friends/{{monkey.id}}" data-original-title="Edit monkey friends list" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i>  Edit  </a>
           </span>
          </div>
         </div>
     </div>
  </form>
{% endblock %}
