{% extends "layout.html" %}
{% block body %}
  <form action="" method=GET class="form-horizontal">
    <h2>List of Monkeys</h2>
    <div class="panel panel-default">
    	<!-- Default panel contents -->
	  <table class="table">
	      <tr>
		<th>Name</th>
                <th>Best Friend </th>
                <th>No. of friends </th>
	      {%- for m in monkey %}
              <tr>
               <td><a href="/monkey/view/{{ m.id }}">{{ m.name }}</a></td>
               <td>{{m.bestfriend.name}} </td>
               <td>{{ m.friend.count()}}</td>
      	      {%- endfor %}
	  </table>
    </div>
    <a href="/add_monkey">Add Monkey</a>
     {% if has_previous %}
            <a href="/?page={{ previous_page }}" class="btn btn-primary">
                &laquo;
            </a>
        {% endif %}
        {% if has_next %}
            <a href="/?page={{ next_page }}" class="btn btn-primary">
                &raquo;
            </a>
        {% endif %}
  </form>
{% endblock %}
